<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>

  </head>

  <body class="<%= cookies[:theme] %>">
    <main class="container mx-auto mt-28 px-5 flex">
     
      <% if cookies[:theme] === 'dark' %>
        <%= link_to(set_theme_path(theme: 'light')) do %>
          <i class="fa-solid fa-sun" title="プロフィール"></i>
        <% end %>
      <% else %>
        <%= link_to(set_theme_path(theme: 'dark')) do %>
          <i class="fa-solid fa-moon" title="プロフィール"></i>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
